project:
  type: website
  output-dir: docs

website:
  title: "ECF939 : Science des données avancées"
  sidebar:
    style: "docked"
    search: true
    contents:
      - href: index.qmd
        text: "Méthode CART"
      - href: TD2.qmd
        text: "Random Forests"
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

execute:
  echo: true
  eval: false
  
lang: fr

